* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family:'Segoe UI', sans-serif;
  display: block;
  position: relative;
}
header {
  position: relative;
  background-image: url(images/header2.jpg);
  width: 100%;
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.soustitre p {
  text-align: center;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 2em;
  font-family: kunstler script, sans-serif;
 
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}
nav .navbarbrand {
  font-size: 2em;
  font-weight: 700;
  font-family: showcard gothic, sans-serif;
}
h1, h2{  
  text-align: center;
  text-decoration: underline;
}
h1, h2, p{
  font-family: DejaVu serif, sans-serif;
}
.container {
  height: 100%;
  grid-template-rows: 1f;
  grid-template-columns: 1f;
  text-align: justify;
}
.container, .card, aside, .list-group, .imgClub {
  width: 80%;
  margin: auto;
}
.card {
  box-shadow: 5px 5px 10px rgb(70, 118, 146);
}
.card-text {
  text-align: justify;
}
.imgClub {
  //height: 80%;
  padding: 5;
}
footer {
  min-height: 20vh;
  background: linear-gradient(60deg, rgb(59, 58, 58), rgb(90, 88, 88));
}
.contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .bodycontent {
    display: flex;
    flex-flow: row nowrap;
  }
  article {
    display: flex;
    flex: auto;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  

  .list-group {
   display: flex;
   flex: auto;
  }
  aside{
    display: flex;
    justify-content: flex-start;
    
    margin: 0%;
  }
  header {
    background-position: top 38% center;
  }
}