body {
  min-height: 100vh;
  font-family:'Segoe UI', sans-serif;
}
header {
  position: relative;
  height: 20%;
  
}

nav .navbarbrand {
  font-size: 2em;
  font-weight: 700;
  font-family: Georgia, Times, 'Times New Roman', serif;
}