body {
  min-height: 100vh;
  font-family:'Segoe UI', sans-serif;
  display: block;
  position: relative;
  
}
header {
<<<<<<< HEAD
  //position: relative;
  height: 20%;
=======
  position: relative;
  min-height: 5em;
  background-image: url(images/header.jpg);
  background-position: center ;
  background-size: cover;
}
header p{
  position: absolute;
  color: rgb(230, 219, 73);
>>>>>>> header
  
  bottom: 0;
  right: 0; 
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

nav .navbarbrand {
  font-size: 2em;
  font-weight: 700;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
section {
  width: 80%;
  height: 100%;
  background: linear-gradient(45deg,#3498db,#2980b9);
  margin: auto;
  grid-template-rows: 1f;
  grid-template-columns: 1f;
}
  
